<div class="container">
  <h1 class="fs-2">
    <%= title @item.name %>
  </h1>
  <div class="d-flex justify-content-around">
    <div class="col-3">
      <%= image_tag @item.image.variant(:full) %>
    </div>

    <div class="col-4">
      <div class="d-flex justify-content-between mb-3">
        <div class="fs-4 my-3">
          <%= number_to_currency(@item.price_included_tax) %>
        </div>

        <div class="align-self-center">
          <%# TODO: ログイン後の対応 %>
          <% if session[:cart]&.any? { |cart_item| cart_item['item_id'] == @item.id } %>
            <%= link_to '数量変更', cart_path, class: "btn btn-outline-primary" %>
          <% else %>
            <%= button_to 'カートに追加', cart_items_path(item_id: @item.id, quantity: 1), method: :post, class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>

      <%= @item.description %>
      <div class="text-end my-3">
        <%= link_to '他の商品を見る', root_path, class: 'btn btn-secondary' %>
      </div>
    </div>
  </div>
</div>
