<div class="text-center mb-3">
  <h1 class="fs-2"><%= title 'Sign up' %></h1>
</div>
<div class="d-flex justify-content-center">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
    </div>

    <div class="form-actions d-flex justify-content-between">
      <%= f.button :submit, "Sign up", class: 'btn btn-dark me-5' %>
      <%= link_to "Log in", new_session_path(resource_name), class: 'btn btn-outline-success' %>
    </div>
  <% end %>
</div>
